*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background: #030718;
  color: #fff;
  line-height: 1.4;
  max-width: 375px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
  border: none;
  outline: none;
}

.header {
  width: 100%;
  position: relative;
  z-index: 1000;
}

.header .container {
  max-width: 375px;
  height: 52px;
  padding: 0 12px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 107px;
  height: 52px;
  margin-right: auto;
}

.nav {
  position: fixed;
  inset: 0;
  display: none;
  flex-direction: column;
  padding: 120px 24px 40px;
  gap: 28px;
  font-size: 22px;
}

.nav.open {
  display: flex;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.actions {
  display: none;
}

.burger {
  width: 32px;
  height: 32px;
  padding: 8px 4px;
  position: relative;
  cursor: pointer;
}

.burger span {
  position: absolute;
  left: 50%;
  width: 23px;
  height: 2px;
  background-color: #e7f7f8;
  border-radius: 100px;
  transform: translateX(-50%);
  transition: 0.3s ease;
}

.burger span:nth-child(1) {
  top: 10px;
}
.burger span:nth-child(2) {
  top: 15px;
}
.burger span:nth-child(3) {
  top: 20px;
}

.burger.active span:nth-child(1) {
  transform: translateX(-50%) translateY(6px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateX(-50%) translateY(-6px) rotate(-45deg);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6a54ff;
  padding: 84px 16px 16px;
  display: none;
  flex-direction: column;
  z-index: 9999;
  overflow-y: auto;
}

.mobile-nav.open {
  display: flex;
}

.mobile-nav__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav__close span {
  position: absolute;
  width: 23px;
  height: 2px;
  background: #fff;
}

.mobile-nav__close span:first-child {
  transform: rotate(45deg);
}

.mobile-nav__close span:last-child {
  transform: rotate(-45deg);
}

.mobile-nav__menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.mobile-nav__btns {
  margin-top: 113px;
  display: flex;
  gap: 16px;
}

.mobile-nav__btn {
  width: 163px;
  height: 52px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  box-shadow: 0 0 4px 0 #57e1ff;
  text-decoration: none;
}

.mobile-nav__btn--reg {
  background: #57e1ff;
  color: #030718;
}
.mobile-nav__btn--login {
  background: transparent;
  border: 1px solid #57e1ff;
  color: #57e1ff;
}

.hero {
  position: relative;
  padding: 40px 16px 61px;
  overflow: hidden;
}

.hero__graphics {
  position: relative;
  height: 134px;
  margin-bottom: 33px;
}

.hero-card {
  position: absolute;
  background: #6a54ff;
  border-radius: 12px;
  padding: 14px 18px;
  width: 150px;
  color: #fff;
  font-size: 14px;
}

.hero-card--bottom {
  width: 176px;
  height: 104px;
  padding: 6px 10px;
  border: 1px dashed #6a54ff;
  border-radius: 4px;
  background: transparent;
  color: #6a54ff;
  opacity: 0.7;
  z-index: -1;
}

.hero-card--top {
  width: 176px;
  height: 104px;
  right: 50px;
  top: 30px;
  padding: 6px 10px;
  border: 1px dashed #6a54ff;
  border-radius: 4px;
}

.hero-card__text {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.hero-card__type {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  margin-bottom: 20px;
}

.hero__title {
  font-size: 35px;
  font-weight: 700;
  line-height: 126%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #e7f7f8;
  opacity: 0.8;
  margin-bottom: 24px;
}

.hero__form {
  width: 100%;
  height: 50px;
  margin-bottom: 12px;
}

.hero__input-wrap {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.hero__input-wrap input {
  width: 100%;
  padding: 15px 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff;
  background: #201a4f;
  outline: none;
}

.hero__input-wrap button {
  position: absolute;
  right: 4px;
  top: 4px;
  height: 42px;
  width: 102px;
  padding: 11px 24px;
  border-radius: 3px;
  border: 1px solid #57e1ff;
  background: #57e1ff;
  box-shadow: 0 0 4px 0 #57e1ff;
  color: #030718;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  cursor: pointer;
  text-transform: uppercase;
}

.hero__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: fff;
}
